@media(max-width:980px){

  .app{
    grid-template-columns:1fr;
  }

  .sidebar{
    display:none;
  }

  .form-grid{
    grid-template-columns:1fr;
  }

  .topbar{
    flex-direction:column;
    gap:20px;
    align-items:flex-start;
  }

  .search-box{
    width:100%;
  }

}