<section
  id="tab-dashboard"
  class="tab-panel active"
>

  <div class="stats-grid">

    <div class="stat-card">
      <div>
        <p>Total Products</p>
        <h2 id="stat-products">0</h2>
      </div>

      <i class="fa-solid fa-box"></i>
    </div>

    <div class="stat-card">
      <div>
        <p>Total Categories</p>
        <h2 id="stat-categories">0</h2>
      </div>

      <i class="fa-solid fa-layer-group"></i>
    </div>

    <div class="stat-card">
      <div>
        <p>Total Orders</p>
        <h2 id="stat-orders">0</h2>
      </div>

      <i class="fa-solid fa-cart-shopping"></i>
    </div>

    <div class="stat-card">
      <div>
        <p>Total Users</p>
        <h2 id="stat-users">0</h2>
      </div>

      <i class="fa-solid fa-users"></i>
    </div>

  </div>

</section>